
<h1>Salon kosmatyczny "PAZURKI"</h1>
<li>
    <a href="/">Salon</a>
</li>
<li>
    <a href="{% url 'website:services' %}" >Usługi</a>
</li>
<li>
    <a href="{% url 'website:contact' %}" >Kontakt</a>
</li>
<li>
    <a href="{% url 'website:reservation' %}" >Rezerwacja Online</a>
</li>

<li>
    <a href="{% url 'website:about' %}" >O mnie</a>
</li>

<li>
    <a href="{% url 'website:gallery' %}" >Galeria</a>
</li>

<li>
    {% if user.is_authenticated %}
         <a href="{% url 'website:user_account' %}" >Twoje konto</a>
    {% else %}
         <a href="{% url 'login' %}"> Zaloguj</a>
    {% endif %}


</li>