
<div class="header">

    <a class="logo" href="{% url 'website:home' %}">Twoje Pazurki</a>
    <div class="header-right">

        <a href="{% url 'website:home' %}">Salon</a>

        <a href="{% url 'website:services' %}" >Usługi</a>

        <a href="{% url 'website:contact' %}" >Kontakt</a>

        <a href="{% url 'website:create-reservation' %}" >Rezerwacja Online</a>

        <a href="{% url 'website:about' %}" >O mnie</a>

        <a href="{% url 'website:gallery' %}" >Galeria</a>

        {% if user.is_authenticated %}
             <a href="{% url 'accounts:profile' %}" >Twoje konto</a>
        {% else %}
             <a href="{% url 'login' %}"> Zaloguj</a>
        {% endif %}

</div>
</div>