{% extends 'website/base.html' %}

{% block content %}
Reservation
    {% if user.is_authenticated %}
        Zarezerwuj wizytę online:
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    Dostępne daty
    <form>
        {% for d in date_list %}

          <input type="radio" name="data" value="{{d}}" >{{d}}<br>
        {% endfor %}
    </form>


    <input type="submit" value="Rezerwuj">


    {{ available_hours }}

</form>
    {% else %}
        Zaloguj się, aby zarezerwować wizytę online.
        <form method="get" action="{% url 'login' %}">
            <input type="submit" value="Zaloguj się!">
        </form>
    {% endif %}

{% endblock %}